* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

/*==============================================*/

.app {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr auto;
  grid-template-areas: 
  'h h'
  's m'
  's f';
}
.header {
  grid-area: h;
}
.main {
  grid-area: m;
  min-height: 100%;
}
.sideBar {
  grid-area: s;
}
.footer {
  grid-area: f;
}

